<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q65brv2d98"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/check.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <title>도봉산 인증 </title>
</head>
<body>

<p class="title">Mountain Go</p>

<div class="container">
    <!--메인 제목-->
    <h1>🔥 도봉산 정복 인증 🔥</h1>

    <!--사진 업로드 코드-->
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" placeholder="사진을 등록해주세요!"
               aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    </div>

    <!--버튼-->
    <div class="btn">
        <button onclick="window.location.href='/first'" type="button" class="btn btn-secondary">뒤로가기</button>
        <button onclick="receive_img()" type="button" class="btn btn-success">등록하기</button>
    </div>

    <!--도봉산 설명-->
    <div class="text-opt">
        <h2>도봉산 (해발 740m)</h2>
        <p>서울 북쪽 도봉구와 경기도 양주 경계에 있는 산이다.가장 높은 봉우리는 자운봉이다. 북한산과 함께 북한산국립공원에 포함되어 있으며, 서울 북단에 위치한다. 우이령(바위고개)을 경계로 북한산과
            나란히 솟아 있으며, 북으로 사패산이 연이어 있다. 면적이 24㎢로 북한산의 55㎢에 비해 등산로가 더 조밀하며, 산 전체가 큰 바위로 이루어져 있다.
            자운봉·만장봉·선인봉·주봉·우이암과 서쪽으로 5개의 암봉이 나란히 줄지어 서 있는 오봉 등 각 봉우리는 기복과 굴곡이 다양하여 절경을 이루고 있다
        </p>
    </div>


</div>


</body>
</html>