<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q65brv2d98"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/check.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <title>지리산 인증</title>
</head>
<body>

<p class="title">Mountain Go</p>

<div class="container">
    <!--메인 제목-->
    <h1>🔥 지리산 정복 인증 🔥</h1>

    <!--사진 업로드 코드-->
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" placeholder="사진을 등록해주세요!"
               aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    </div>

    <!--버튼-->
    <div class="btn">
        <button onclick="window.location.href='/first'" type="button" class="btn btn-secondary">뒤로가기</button>
        <button onclick="receive_img()" type="button" class="btn btn-success">등록하기</button>
    </div>

    <!--지리산 설명-->
    <div class="text-opt">
        <h2>지리산 (해발 1,915m)</h2>
        <p>1967년 12월 29일 우리나라 최초의 국립공원으로 지정된 지리산은 3개도(경상남도, 전라남·북도), 1개시(남원시), 4개군(구례군, 하동군, 산청군, 함양군), 15개 읍·면의 행정구역이
            속해 영·호남 내륙지역의 경계에 자리 잡고 있으며,
            그 면적이 471.758㎢로서 20개 국립공원 중 가장 넓은 면적의 산악형 국립공원이다. 한반도를 구성하는 백두대간의 산줄기가 소백산, 속리산, 덕유산을 만들고 남해 앞에서 마지막 여세를 몰아
            용솟음쳐 만든 지리산은 고도가 높고 체적이 큰 NE-SW 방향의 능선과 좁고 깊은 골짜기의 연속된 배열을 보이고 있다.
        </p>
    </div>


</div>


</body>
</html>