<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q65brv2d98"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/check.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <title>인증 사이트</title>
</head>
<body>

    <p class="title">Mountain Go</p>

<div class="container">
    <!--메인 제목-->
    <h1>🔥 한라산 정복 인증 🔥</h1>

    <!--사진 업로드 코드-->
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" placeholder="사진을 등록해주세요!" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    </div>

    <!--버튼-->
    <div class="btn">
        <button onclick="window.location.href='/first'" type="button" class="btn btn-secondary">뒤로가기</button>
        <button onclick="receive_img()" type="button" class="btn btn-success">등록하기</button>
    </div>

    <!--한라산 설명-->
    <div class="text-opt">
        <h2>한라산 (해발 1,947m)</h2>
        <p>대한민국에서 가장 큰 섬인 제주도에 있으며 대한민국의  영토 내의 최고봉이자 가장 높은 산. 대한민국의 국립공원 중 하나이다. 국립공원 전역이 유네스코 세계유산으로 지정되었다. 그리고 대한민국의 실효지배 영토 내 해상 활화산이다. 이름을 풀이하면 운한을 당긴다는 뜻으로 은하수를 붙잡을 정도로 높은 산이라는 뜻이다. 금강산, 지리산과 함께 대한민국 삼신산 중 하나로 꼽힌다.</p>
    </div>








</div>



</body>
</html>