*{
    font-family: 'Jua', sans-serif;
    font-weight: 300;
}

body {
    background-image: url("https://images.pexels.com/photos/2347459/pexels-photo-2347459.jpeg?cs=srgb&dl=pexels-tom-swinnen-2347459.jpg&fm=jpg");!important;
    background-size: cover;
    /*background-color: RGBA(232, 52, 78, 0.2);*/
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    color: green;
    font-weight: 900;
    font-size: 5rem;
}


.subtitle {
    font-size: 2rem;
    font-weight: 300;
}
.start_wrap{
    margin-top:10%;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}
.start{
    font-family: 'Josefin Sans', sans-serif;
    padding:10px 20px;
    font-size:25px;
    font-weight: 500;
    background-color:transparent;
    border-color: white;
    border-width:3px;

    color: black !important;
    border-radius:20px;
}
.btn:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;!important;

}

.container{
    display:none;
}


.button.is-sparta {
    font-weight: 500;
    background-color: #aaaaaa;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    font-weight: 500;
    background-color: transparent;
    border-color: #aaaaaa;
    color: #828282 !important;
}

.help {
    color: #aaaaaa;
}

