<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href = "static/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Mountain GO</title>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/wp/diary/api/listing",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let articles = response['articles']
                        for (let i = 0; i < articles.length; i++) {
                            let title = articles[i]['title']
                            let content = articles[i]['content']
                            let file = articles[i]['filename']
                            let time = articles[i]['time']

                            let temp_html = `<div class="card">
                                                <img src="../static/wp-wk1/${file}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${content}</p>
                                                    <p class="card-text"><small class="text-muted">${time}</small></p>
                                                </div>
                                            </div>`

                            $('#cards-box').append(temp_html)
                        }
                    }
                }
            });
        }

        function update_profile() {
            let title = $('#title').val()
            let file = $('#file')[0].files[0]
            let content = $("#content").val()
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("title_give", title)
            form_data.append("content_give", content)

            $.ajax({
                type: "POST",
                url: "/wp/diary/api/posting",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"])
                        window.location.reload()
                    } else {
                        alert(response["msg"])
                    }
                }
            });
        }
    </script>

</head>

<body>


    <div class="power wrap">


        <div class="wrap" style="max-width: 600px;">

            <div class="jumbotron jumbotron-fluid">
                <div class="title">
                    <h2 style="margin-bottom: 40px;">🔥설악산 정복 인증🔥</h2>
                    <div class="posting-box">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file">
                            <label class="custom-file-label" for="file">사진 업로드하기</label>
                        </div>
                        <br><br>
                        <button onclick="update_profile()" type="submit" class="btn btn-primary">인증하기</button>
                        <br><br><br>
                        <h5 class="card-title">설악산</h5>


                        <p class="card-text">설악산은 강원도 속초시, 양양군, 인제군, 고성군에 걸쳐 있는 해발고도 1,708미터의 산이다. 대한민국에서는 한라산과 지리산 다음으로 높은 산이고 국내에서 3번째로 높은 산이다. 추석 무렵부터 눈이 내리기 시작하며 여름이 되어야 녹는 까닭으로 이렇게 이름 지었다.

                        </p>

                    </div>
                </div>
            </div>
        </div>




    </div>



</div>
</body>

</html>